body {
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.weather-1 {
    max-width: 30%;
    border: solid;
    display: inline-block;
    vertical-align: top;
}

.weather-2 {
    max-width: 17%;
    border: solid;
    display: inline-block;
    vertical-align:top;
}

.weather-3 {
    max-width: 17%;
    border: solid;
    display: inline-block;
    vertical-align: top;
}

.weather-4 {
    max-width: 17%;
    border: solid;
    display: inline-block;
    vertical-align: top;
}

.weather-5 {
    max-width: 17%;
    border: solid;
    display: inline-block;
    vertical-align: top;
}

.AllWeather {
   display:inline-block;
}

.weatherImage {
    max-width: 100%;
    border: solid;
    display: inline-block;
}